<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">News Net</h1>
  </div>
</div>
<br><br>
{{#each articles}}
<div class="panel panel-success">
    <div class="panel-heading">
        <a id="headinglink" href={{url}}>
            <h3 class="panel-title pull-left">{{headline}}</h3>
        </a>
        <a href="/comments/{{_id}}"><button id="commentsbutton" type="button" class="btn btn-default pull-right">Comments</button></a>
        <div class="clearfix"></div>
    </div>
    <div class="panel-body">
        <a id="summarylink" href={{url}}> {{summary}} </a>
    </div>
</div>
{{/each}}
